#NavBarTopId {
    background-color: black;
    margin-top: 0px;
    padding: 0px;
    height: 75px;
}
#IconImg {
    width: 75px;
    float: left;
    display: inline;
    padding-right: 10px;
}
body {
    background-color: #060513;
    margin: 0px;
}
header {
    border: 0px;
    margin: 0px;
}
#NavBarTopId {
    border-top: 3px solid aqua;
}
#MainLogoWebName {
    padding-top: 15px;
    margin-top: 0px;
    color: white;
    font-family: cascadia code;
    font-size: 30px;
    display: inline-block;
    border-bottom: 5px solid aqua;
    border-radius: 2px;
    margin-right: 15px;
    width: 250px;
}
.VerticalLineDiv {
    height: 25px;
    display: inline;
    padding-left: 10px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-top: 15px;
    margin-top: 15px;
    padding: 10px;
    color: white;
    font-family: cascadia code;

}
#underdev{
    color: gray;
    bottom: 10px;
    left: 10px;
    
}
.Login {
    margin-top: 0px;
    display: inline-block;
    height: 35px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-right: 1px solid aqua;
}
.LoginRegButton {
    height: 40px;
    font-size: 20px;
    font-family: cascadia code;
    background-color: black;
    color: white;
    border: 0px solid black;
    padding-left: 10px;
}
.hoverimg {
    float: left;
    width: 40px;
}
.UserPassPar {
    color: white;
    font-family: cascadia code;
    padding-left: 20px;
    font-size: 20px;
}

.LoginInput {
    margin-left: 30px;
    background-color: #0D0B29;
    display: inline-block;
    width: 350px;
    margin-top: 15px;
    height: 230px;
    display: inline-block;
    border-radius: 20px;
}

.UserPassTex {
    margin-left: 15px;
    background-color: #272451;
    border-color: #0d0b29;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    color: white;
    font-family: cascadia code;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}
#InputPfp {
    opacity: 0;
}
#InputImageLabel {
    color: white;
    display: block;
    background: #272451;
    width: 200px;
    border: none;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-family: cascadia code;
    height: 17px;
}
#InputImageLabelH {
    color: white;
    display: block;
    background: #272451;
    width: 200px;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-family: cascadia code;
    height: 17px;
    border: 2px solid aqua;
}
#RegisterSubmitButton {
    background-color: #272451;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-color: #272451;
    color: white;
    font-family: cascadia code;
    font-size: 15px;
    margin-left: 275px;
    margin-top: 10px;
}
#RegisterSubmitButtonH {
    background-color: #272451;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid aqua;
    color: white;
    font-family: cascadia code;
    font-size: 15px;
    margin-left: 275px;
    margin-top: 10px;
}
.UserCheckTextE {
    color: gray;
    padding-left: 20px;
    padding-top: 5px;
    font-family: cascadia code;
}
.UserCheckTextI {
    color: #b22222;
    padding-left: 20px;
    padding-top: 5px;
    font-family: cascadia code;
}
.UserCheckTextV {
    color: #00fa9a;
    padding-left: 20px;
    padding-top: 5px;
    font-family: cascadia code;
}